# Entorno virtual
venv/
.venv/
env/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de configuración de IDE
.vscode/
.idea/

# Logs
*.log

# Base de datos local / archivos temporales
*.db
*.sqlite
*.sqlite3

# Sistema operativo
.DS_Store
Thumbs.db